.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  background-color: cyan;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header h1 {
  color: purple;
}
body header nav {
  margin: 1em;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  body header {
    background-color: purple;
  }
  body header h1 {
    color: cyan;
  }
}
